.timer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem !important;
}
/* input container */
.input_container input {
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  padding: 20px;
  font-size: 20px;
  min-width: 500px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  letter-spacing: 0.02em;
}
.input_container input::placeholder {
  font-size: 16px;
  letter-spacing: 0.1em;
}
