.timer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem !important;
}
/* input container */
.input_container input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 40px 20px;
  font-size: 20px;
  min-width: 700px;
  background-color: transparent;
  letter-spacing: 0.02em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input_container input::placeholder {
  font-size: 16px;
  letter-spacing: 0.1em;
}
