* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4285f4;
  --gen-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Tahere fonts */
@font-face {
  font-family: "Tahere";
  src: url("../public/fonts/Outahere\ W00/Outahere W00.woff2") format("woff2"),
    url("../public/fonts/Outahere\ W00/Outahere W00.woff") format("woff"),
    url("../public/fonts/Outahere\ W00/Outahere W00.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* #__________ General Styles __________# */
/* Flex Box */
.dis_f {
  display: flex;
}
.c_aic {
  align-items: center;
}
.c_jcc {
  justify-content: center;
}
.c_jcsb {
  justify-content: space-between;
}
.c_jcsa {
  justify-content: space-around;
}

/* Gap */
.gap_5 {
  gap: 5px;
}
.gap_10 {
  gap: 10px;
}
.gap_15 {
  gap: 15px;
}
.gap_20 {
  gap: 20px;
}
.gap_25 {
  gap: 25px;
}
.gap_30 {
  gap: 30px;
}

.cur_p {
  cursor: pointer;
}
